<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431144523200-is381hp6qrolr1d1f0mkmp9b1vpu2po3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431144523200-is381hp6qrolr1d1f0mkmp9b1vpu2po3</string>
	<key>API_KEY</key>
	<string>AIzaSyC0tdbACZfiz6g8YMqBw2niNoqMggJK4t0</string>
	<key>GCM_SENDER_ID</key>
	<string>431144523200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BigcatCreativeLabs.ScribbleStack</string>
	<key>PROJECT_ID</key>
	<string>scribble-stack</string>
	<key>STORAGE_BUCKET</key>
	<string>scribble-stack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431144523200:ios:3e87c9407e40d612</string>
	<key>DATABASE_URL</key>
	<string>https://scribble-stack.firebaseio.com</string>
</dict>
</plist>